<div class="component">
  <header>
    <span class="page-title">User List</span>
    <span> | <a routerLink='/users/create'>Create New</a></span>
  </header>
  <table class="table table-sm">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Username</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Reviewer?</td>
        <td>Admin?</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody *ngIf='users'>
      <tr *ngFor="let user of users | sort ">
        <td>{{user.Id}}</td>
        <td>{{user.FirstName}} {{user.LastName}}</td>
        <td>{{user.UserName}}</td>
        <td>{{user.Phone}}</td>
        <td>{{user.Email}}</td>
        <td>{{user.IsReviewer | boolDisplay }}</td>
        <td>{{user.IsAdmin | boolDisplay }}</td>
        <td>
          <span><a routerLink='/users/detail/{{user.Id}}'>View</a> | </span>
          <span><a routerLink='/users/edit/{{user.Id}}'>Edit</a></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
